html {
  box-sizing: border-box;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

*, *::before, *::after {
  box-sizing: inherit;
}

header {
	background-color: #4a5ba8;
}

body {
	margin: 0;
	background-color: #97c0e6;
  	font-family: "arvo", sans-serif;
}

.container {
	margin: 2rem auto;
	display: block;
	max-width: 35rem;
}

.box {
	background-color: #e0eaf7;
	padding: 1rem;
	width: 100%;	
}

.box:hover {
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

h3 {
	font-size: 1.5rem;
	color: #000;
	    -webkit-text-fill-color: #fff;
	    -webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: #4a5ba8;
}

.question {
	color: #000;
	font-size: 1rem;
}

.answer {
	display: inline-block;
	background-color: #4a5ba8;
	padding: .5rem;
	margin: .5rem;
	color: #fff;
	cursor: pointer;
}

.hide-div {
	display:none; 
}

h1 {
	width: 100%;
}

footer {
	background-color: #4a5ba8;
	height: 6rem;
}

footer svg{
	width: 5rem;
	display: block;
	margin: 1rem auto;

	transform-origin: center center;
	animation: breath 2s alternate infinite;
}

@keyframes breath {

  0% {
    width: 5rem;
    height: 5rem;
  }

  100% {
    width: 4rem;
    height: 4rem;
  }
}

.masthead {
	position: relative;
	padding: 1rem;
	height: 100%;
}

h2 {
	position: absolute;
	right: 1rem;
	bottom: 0;
	margin-top: 1rem;
	color: white;
}

@media only screen and (min-width: 45em) {

	h2	{
		color: #000;
	    -webkit-text-fill-color: #fff;
	    -webkit-text-stroke-width: 2px;
	    -webkit-text-stroke-color: #4a5ba8;
	}
}
